<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
      <nav th:fragment="navbar" class="navbar navbar-expand-md bg-dark navbar-dark text-light">
        <a href="#" class="navbar-brand"><h3><i class="fas fa-books">&nbsp;Book</i></h3></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNav">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse mr-auto" id="myNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" th:href="@{/authors}">Authors</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" th:href="@{/books}">Book</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link">Home</a>
              </li>
            </ul>
        </div>
      </nav>

</body>
</html>